#App {
  padding: 40px;
}

#App h1 {
  font-size: 2.5em; 
  text-align: center;
}

#App h1 a {
  color: #5d3d6e;
}

#App h1 a:hover {
  text-decoration: none;
}

#App .Description {
  margin: 30px 0 50px 0;
  text-align: center;
}

#App .Links {
  max-width: 900px;
  padding: 10px;
  border: solid 1px #860486;
  margin: 0 auto 15px auto;
  background-color: white;
  box-sizing: border-box;
}

#App .Links b {
  color: #a537a5;
  font-size: 1.2em;
}

#Main {
  max-width: 900px;
  margin: 0 auto;
}
