#Form {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: solid 1px #860486;
}

#Form table {
  width: 100%;
  border-spacing: 10px;
}

#Form table th {
  color: #5d3d6e;
  width: 100px;
  text-align: right;
  vertical-align: top;
  padding: 0 10px;
}

#Form table tr:last-child td {
  text-align: right;
}

#Form table input[type="text"], #Form table textarea {
  font-size: 1.1em;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border: solid 1px gray;
}

#Form table textarea {
  height: 150px;
  font-size: 1.1em;
  resize: none;
}

#Form .checkingNIP07 {
  padding: 15px;
  font-weight: bold;
  color: #bd2ebd;
  border: dashed 3px #bd2ebd;
  text-align: center;
}

#Form .useNIP07 {
  color: #525252;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  border: solid 3px #46c14b;
}

#Form .useNIP07 span {
  font-size: 1em;
  font-weight: bold;
  color: #46c14b;
}

#Form .PrivKeyWarn {
  color: #525252;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  border: solid 3px orange;
  margin-top: 8px;
}

#Form table button {
  margin-left: 10px;
}

#Form input[type="checkbox"] {
  margin-right: 6px;
}
